html, body, .container-fluid, .row{ height: 100%}

#main-container{
    /*height: 70%;*/
}

#map {
    height: 500px;
}

#map-province {
    height: 500px;
}

#map-district {
    height: 500px;
}

#map-body{
    height: 500px;
}

/*Navigation bar*/
#lgis-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.lgis-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    color: #000000;
}

.lgis-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.largenav a {
    color: inherit;
    text-decoration: inherit;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav #collapse a {
    padding-left: 60px;
    text-decoration: none;
    font-size: 20px;
    color: #969696;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

.sidenav-heading a {
    color: inherit;
    text-decoration: inherit;
}

/*Bread-crumb*/
/*customize breadcrumb*/
.breadcrumb {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.10), 0 0 2px 0 rgba(0,0,0,.12);
    margin-top: 5px;
    padding: 15px;
}

/*change breadcrumb links color*/
.breadcrumb a {

}

.breadcrumb a:hover {
    text-decoration: none;
}

/*change active color*/
.breadcrumb > .active {

}

/*change breadcrumb separator to raquo symbol*/
.breadcrumb > li + li:before {
    content: "\00BB";
    color: #aaa;
}

.box{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
    margin-top: 5px;
    padding: 15px;
}

.box a {
    color: #000000;
    text-decoration: none;
}

.box a:hover{
    background-color: rgba(70, 149, 236, 0.5);
}

.box-light {
    box-shadow: 0 0 2px 0 rgba(0,0,0,.10);
    margin-top: 5px;
    padding: 15px;
}

.box-light:hover{
    background-color: #2874f0;
    color: white;
}

/*Hover*/
div#hover{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    display: none;
    font-size: 13px;
    z-index: 10;
}

div#hover > span{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
}

div#hover > p{
    font-size: 15px;
    color: white;
}

div#hover{
    cursor: pointer;
}

/* Edit button */
#titlePosition {display:inline-block;}
#editButton {display:inline-block; float: right; padding-top: 20px;}

/* Image */
/* resize images */
.img-container img {
    width: 100%;
    height: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

edtbtn {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

/* Set the fixed height of the footer here */
#footer {
    position: relative;
    background-color: #414141;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    color: #ffffff;
}

#footer span{
    color: #2874f0 ;
    font-size: 12px;
}


#footer a {
    color:#efefef;
    font-size: 10px;
}

